﻿<tr>
    <th style='border: 1px solid black; border-collapse: collapse;'>
        <p>{0}</p>
        <p>Version: {1}</p>
    </th>
    <th style='border: 1px solid black; border-collapse: collapse;'><p>{2}</p><p>{3}</p></th>
    <td style='border: 1px solid black; border-collapse: collapse;'>
        <table style='width:100%; margin:5px'>
            <tr>
                <td style='width:9%;'><img style='margin: 5px; width: 82%; height: 100%' src='{4}' /></td>
                <td>
                    <table style='width:100%;'>
                        <tr><td> Signed by:</td></tr>
                        <tr><td> <img style='width:80%' src='{5}' /></td></tr>
                        <tr><td><p>{6}</p></td>
                        <tr>
                    </table>
                    <table style='width:100%'>
                        <tr>
                            <td>Name:</td>
                            <td>{7}</td>
                        </tr>
                        <tr>
                            <td>Reason:</td>
                            <td>{8}</td>
                        </tr>
                        <tr>
                            <td style='width:30%'>Signed Date:</td>
                            <td>{9}</td>
                        </tr>
                    </table>
                    <div style='margin-top:2px'>{10}</div>
                </td>
            </tr>
        </table>
    </td>
</tr>