<div>
	<table style='width:100%;text-align:left;border:1px solid black;border-collapse: collapse'>		
		<tr>
			<th style='width:30%;border: 1px solid black; border-collapse: collapse;'> Document Name </th>
			<th style='width:15%;border: 1px solid black; border-collapse: collapse;'>Print Name</th>
			<th style='border: 1px solid black; border-collapse: collapse;'>Signature/Date</th>
		</tr>
		<tr>
			<th style='border: 1px solid black; border-collapse: collapse;'>{0}</th>
			<th style='border: 1px solid black; border-collapse: collapse;'><p>{1}</p><p>{2}</p></th>
			<td style='border: 1px solid black; border-collapse: collapse;'>
				<table style='width:100%; margin:5px'>
					<tr>
						<td style='width:12%;'><img style='margin: 5px; width: 82%; height: 100%' src='{3}'/></td>
						<td>
							<table style='width:100%;'>
								<tr><td> Signed by:</td></tr>
								<tr><td> <img style='width:80%' src='{4}' /></td></tr>
								<tr><td><p>{5}</p></td><tr>
							</table>								
							<table style='width:100%'>
								<tr>
									<td>Name:</td>
									<td>{6}</td>
								</tr>
								<tr>
									<td>Reason:</td>
									<td>{7}</td>
								</tr>
								<tr>
									<td style='width:30%'>Signed Date:</td>
									<td>{8}</td>
								</tr>
							</table>
							<div style='margin-top:2px'>{9}</div>
						</td>				
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>